{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 80,
	"plugins": ["prettier-plugin-svelte"],
	"svelteIndentScriptAndStyle": false,
	"svelteAllowShorthand": false,
	"svelteSortOrder": "options-scripts-markup-styles",
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
