/****************************************************
 * For when we want to support window.matchMedia    *
 * theme preference query. :root is default for now *
 ****************************************************/

body.dark {
	--sg5-c-bg-base: black;
}

body.light {
	--sg5-c-bg-base: white;
}

/****************************************************/

:root {
	--default-font:
		'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

	--c-base: #1b1b1f;
	--c-bg-text-code: #0a0a0e;
	--c-text-link: #dfdfd6;
	--c-text-link-visited: #cccccc;
	--c-text-link-hover: #999999;
	--c-bg-main-content: var(--c-base);
	--c-bg-navbar: var(--c-base);
	--c-bg-left-sidebar: #161618;
	--c-group-separator: #2e2e32;

	--page-min-width: 750px;
	--page-max-width: 1540px;
	--left-sidebar: 250px;
	--header-height: 56px;

	--expanding-transition-time: 200ms;

	/************/

	--sg5-c-dark-root: #1b1b1f;
	--sg5-c-dark-base: #161618;

	--sg5-c-dark-text-1: #0a0a0e;
	--sg5-c-dark-text-2: #98989f;
	--sg5-c-dark-text-3: #6a6a71;

	--sg5-c-indigo-1: #dfdfd6; 
	--sg5-c-indigo-2: #5c73e7; 

	/************/

	--sg5-default-font:
		'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

	--sg5-c-bg-base: #1b1b1f;
	--sg5-c-bg-text-code: #0a0a0e;
	--sg5-c-text-link: #dfdfd6;
	--sg5-c-text-link-visited: #cccccc;
	--sg5-c-text-link-hover: #999999;
	--sg5-c-bg-main-content: var(--c-base);
	--sg5-c-bg-navbar: var(--c-base);
	--sg5-c-bg-left-sidebar: #161618;
	--sg5-c-group-separator: #2e2e32;

	--sg5-page-min-width: 750px;
	--sg5-page-max-width: 1540px;
	--sg5-left-sidebar: 250px;
	--sg5-header-height: 56px;

	--sg5-expanding-transition-time: 200ms;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	background: var(--c-base);
}
