:root {
	--sg5-c-dark-root: #1b1b1f;
	--sg5-c-dark-base: #161618;

	--sg5-c-dark-text-1: #dfdfd6;
	--sg5-c-dark-text-2: #98989f;
	--sg5-c-dark-text-3: #0a0a0e;

	--sg5-c-indigo-1: #a8b1ff;
	--sg5-c-indigo-2: #5c73e7;
	--sg5-c-indigo-3: #646cff;

	/************************************************/

	--sg5-default-font:
		'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';

	--sg5-c-bg-base: var(--sg5-c-dark-root);
	--sg5-c-bg-text-code: var(--sg5-c-dark-base);

	--sg5-c-text-navigation: var(--sg5-c-dark-text-1);
	--sg5-c-text-navigation-hover: var(--sg5-c-indigo-1);
	--sg5-c-text-sub-navigation: var(--sg5-c-dark-text-2);
	--sg5-c-text-sub-navigation-hover: var(--sg5-c-indigo-1);

	--sg5-c-text-link: var(--sg5-c-indigo-1);
	--sg5-c-text-link-visited: var(--sg5-c-indigo-2);
	--sg5-c-text-link-hover: var(--sg5-c-indigo-2);

	--sg5-c-bg-main-content: var(--sg5-c-dark-root);
	--sg5-c-bg-navbar: var(--sg5-c-dark-root);
	--sg5-c-bg-left-sidebar: var(--sg5-c-dark-base);

	--sg5-c-group-separator: #2e2e32;
	--sg5-c-quoteblock: rgba(100, 108, 255, 0.2);

	--sg5-page-max-width: 1080px;
	--sg5-page-max-width-breakpoint: 800px;

	--sg5-header-height: 56px;
	--sg5-left-sidebar: 250px;

	--sg5-expanding-transition-time: 200ms;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	background: var(--sg5-c-bg-base);
	overflow-x: hidden;
}

ol li,
ul li {
	margin: 10px;
}

.clickable {
	padding: 0;
	margin: 0;
	background: none;
	border: none;
	text-decoration: none;
	transition-property: color, fill, stroke;
	transition-duration: 200ms;
	transition-timing-function: ease;

	&:hover {
		cursor: pointer;
	}
}

.nav.clickable {
	color: var(--sg5-c-text-navigation);
	fill: var(--sg5-c-text-navigation);
	stroke: var(--sg5-c-text-navigation);

	&:hover {
		color: var(--sg5-c-text-navigation-hover);
		fill: var(--sg5-c-text-navigation-hover);
		stroke: var(--sg5-c-text-navigation-hover);
	}
}

.nav.sub.clickable {
	color: var(--sg5-c-text-sub-navigation);
	fill: var(--sg5-c-text-sub-navigation);
	stroke: var(--sg5-c-text-sub-navigation);

	&:hover {
		color: var(--sg5-c-text-sub-navigation-hover);
		fill: var(--sg5-c-text-sub-navigation-hover);
		stroke: var(--sg5-c-text-sub-navigation-hover);
	}
}

.action.clickable {
	color: var(--sg5-c-dark-text-2);
	fill: var(--sg5-c-dark-text-2);
	stroke: var(--sg5-c-dark-text-2);

	&:hover {
		color: var(--sg5-c-text-navigation);
		fill: var(--sg5-c-text-navigation);
		stroke: var(--sg5-c-text-navigation);
	}
}

/*************************
 ******** ARTICLE ********
 *************************/

article h1,
article h2,
article p,
article ol,
article ul,
article li,
article hr,
article blockquote,
article .demo,
article .examples {
	max-width: 760px;
	margin-left: auto;
	margin-right: auto;
	color: var(--sg5-c-dark-text-1);
	font-family: var(--sg5-default-font);
}

article ol p {
	margin: 0;
}

article hr {
	border: 0;
	height: 1px;
	margin-top: 30px;
	background-color: var(--sg5-c-group-separator);
}

article h1,
article h2 {
	position: relative;
	scroll-margin-top: 20px;
}

article h1 a.header-anchor {
	position: absolute;
	left: 0;
	opacity: 0;
	margin-left: -0.87em;
	color: #a8b1ff;
	font-weight: 500;
	text-decoration: none;
	user-select: none;
	transition:
		color 250ms,
		opacity 250ms;

	&:hover {
		color: #5c73e7;
	}

	&:focus {
		opacity: 1;
	}
}

article h1:hover a.header-anchor {
	opacity: 1;
}

article h1 a.header-anchor::before {
	content: '#';
}

article p {
	line-height: 28px;
	font-synthesis: style;
	text-rendering: optimizeLegibility;
	font-weight: 400;
}

article ol {
	padding-left: 1.2em;
	box-sizing: border-box;
}

blockquote a,
article p a,
article ol a,
article ul a {
	color: #a8b1ff;
}

article blockquote {
	box-sizing: border-box;
	border-left: 4px solid var(--sg5-c-indigo-3);
	padding: 10px 10px 10px 15px;
	background: var(--sg5-c-quoteblock);
	line-height: 1.5;
}

article blockquote ul {
	margin: 0;
	padding-left: 15px;
}

article blockquote ul li {
	margin: 0;
}

article .row {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

article .row label {
	white-space: nowrap;
	display: flex;
	flex-wrap: nowrap;
}

article code {
	position: relative;
	background: var(--sg5-c-bg-text-code) !important;
	padding: 2px 4px;
	border-radius: 5px;
	font-size: 1.2em;
}

table pre {
	margin: unset;
}

article code.language-html.tag-svelte-script::before,
article code.language-html.tag-svelte-template::before,
article code.language-html.tag-svelte-style::before {
	position: absolute;
	top: 2px;
	right: 2px;
	padding: 3px 5px;
	border-radius: 3px;
	background: rgba(0, 0, 0, 0.3);
}

article code.language-html.tag-svelte-script::before {
	content: 'Svelte5 script';
}

article code.language-html.tag-svelte-template::before {
	content: 'Svelte5 template';
}

article code.language-html.tag-svelte-style::before {
	content: 'Svelte5 style';
}

article .demo {
	padding: 5px;
	margin-top: 20px;
	border-radius: 10px;
	background: var(--sg5-c-bg-text-code);
}

article .demo .content {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	color: black;
	border-radius: 6px;
	background-color: red;
}

article .demo .item {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	color: var(--sg5-c-bg-text-code);
	width: 100%;
	height: 100%;
	padding: 2px;
	border-radius: 5px;
	background: #a8b1ff;
	user-select: none;
	word-break: break-all;
	overflow: hidden;
	font-size: clamp(0.4em, 1vw + 0.4em, 1em);
}

article .demo .item .x-button {
	all: unset;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	top: 5px;
	right: 5px;
	width: 20px;
	aspect-ratio: 1;
	background-color: white;
}

article .demo .item .custom-dragger {
	background: var(--sg5-c-indigo-3);
	height: fit-content;
	cursor: pointer;
}

article .demo .item .custom-resizer {
	position: absolute;
	bottom: 10px;
	right: 10px;
	background: var(--sg5-c-indigo-3);
	cursor: pointer;
}

/* Override the defaule grid item style */
article .demo .svlt-grid-shadow {
	border-radius: 5px;
}
